@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.perfil-alvaro {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  padding: 5px;
}

.perfil-alvaro-roadmap{
  position: relative;

}

.datos-user {
  display: flex;
  flex-direction: column;
  /*Se especifica como quieres que lo reparte si como columna o row filas*/
}


.container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  background-color: #ffffff;
  margin: auto;
  border-radius: 1rem;

}

.container-fluid {
  margin-top: -15px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #f28d27;
  border-radius: 1rem;
  flex-wrap: wrap;

}


.text-gray-800 {
  color: #000000 !important;
}

.row {
  display: flex;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  overflow: auto;


}

.actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #1e293a;
  border-color: transparent;
  border-radius: 1rem;
  background-clip: border-box;
  border: 5px solid rgba(255, 255, 255, 0.125);
  top: 10px;
}

.roadmap{
  
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #0066ff;
  border-color: transparent;
  border-radius: 1rem;
  background-clip: border-box;
  border: 5px solid rgba(255, 255, 255, 0.125);
  top: 10px;
}

.card-shadow{
  background-color: #1e293a;
  border-radius: 1rem;
  color: #ffffff;
}


.form-group {
  color: #ffffff;
  border-radius: 1rem;

}





.card_resumen {
  background-color: #1e293a;
  border-radius: 1rem;
  position: relative;


}

.border-light {
  margin: auto;
  border-color: #ffffff;
  width: auto;
}

.border-light-perfil {
  width: auto;
  background-color: #ffffff;
}

.evidencia {
  background-color: #ffffff;
  color: #000000;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  flex-wrap: wrap;
  width: auto;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  border-radius: 1rem;
  background-color: #1e293a;
}

.card-1 {
  background-color: #1e293a;
  border-radius: 1rem;
}

.card.border-left-primary {
  background-color: #ffffff;
  position: relative;

}

.activity-container {
  background-color: #ffffff;
  border-radius: 1rem;
  margin-left: 20px;
  margin-right: 20px;
  
  
}

.notificaciones-overlay{
  width: 250px;
  border-radius: 15px;
  height: 300px;
  border: none;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translate(128%, -50%);
  z-index: 1000;
  background-color: #fff;
}

.d-flexjustify-content-end{
  transform: translate(50%, -10%);
}

.notificaciones-overlay p {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px; 
  margin-bottom: 5px;
}

.notificaciones-overlay h1{
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.card-actividades-colaborador {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #393a1e;
  background-clip: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.03);
  color: #ffffff;
}

.list-icon,
.circle-check {
  margin-right: 1em;
  margin-left: 1em;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #f28d27;
}


main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  background: #10c1bc;
  color: #ffffff;
  height: auto;
  width: 20px;
  transition: all 0.5s;
  border-radius: 1rem;
}

.fixed-height-container {
  max-height: 500px;
  /* Set the desired maximum height */

  padding: 10px;
  /* Add padding for spacing inside the container */
}

.top_section {
  /* de sideba posicion de logo y titulor*/
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  /*Foto y nombre sidebar*/
  font-size: 30px;
}

.bars {
  /*Icono desplegar sidebar*/
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 20px;
  transition: all 0.5s;
}

.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active {
  background: #ffffff;
  /*Cambia color del fondo apartado perfil */
  color: rgb(0, 0, 0);
  /*Cambia el color de la letra encabezados de los box */
}

.icon,
.link_text {
  /*Tamaño letras e iconos de sidebar*/
  font-size: 20px;

}

/* Estilos para el contenedor principal */
.media-body.ml-4 {
  /* Ajusta el margen izquierdo para alinear el contenido */
  margin-left: 1rem;
}

/* Estilos para el botón de carga de foto */
.btn.btn-outline-primary {
  /* Boton upload new photo*/
  /* Personaliza los estilos del botón */
  color: #ffffff;
  /* Color del texto */
  border-color: transparent;
  /* Color del borde */
  background-color: #ff4400;
  border-radius: 0.5rem;

}

/* Estilos para el botón "Reset" */
.btn.btn-default.md-btn-flat {
  /* Personaliza los estilos del botón */
  color: #ffffff;
  /* Color del texto */
  background-color: transparent;
  /* Fondo transparente */
  border-color: #ccc;
  /* Color del borde */
}

/* Estilos para el texto pequeño */
.text-light.small.mt-1 {
  /* Personaliza los estilos del texto pequeño */
  color: #f8f9fa;
  /* Color del texto */
  margin-top: 0.25rem;
  /* Espacio superior */
}

.text-right.mt-3 {
  text-align: right;
  /* Alinea el contenido a la derecha */
  margin-top: 1rem;
  /* Espacio superior */

}

/* Boton save changes perfil */
.btn-primary {
  /*BOTON LOGOUT*/
  background-color: #ff4400;
  /* Cambia el fondo del botón "Guardar cambios" a azul */
  color: #fff;
  /* Cambia el color del texto a blanco */
  border-radius: 0.5rem;
  border-color: transparent;
  height: auto;
  width: 150px;
  margin-right: 1rem;

}

.btn-secondary {
  color: #fff;
  border-radius: 0.5rem;
  height: auto;
  width: 110px;
}

.aaa {
  /*Color letra boton texto abajo de upload*/
  color: #ffffff;
}



.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  width: 230px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

}

.resumen-coach {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto
}

.table{
  color: #ff0000;
}


.collaborator-photo {
  width: 50px;
  /* Ajusta el tamaño de la foto según tus preferencias */
  height: 50px;
  margin-right: 10px;
  /* Espacio entre la foto y los detalles */
}

/* Estilos para los detalles del colaborador */
.collaborator-details {
  display: flex;
  flex-direction: column;
}


/* Estilo para la barra de progreso */
.progress-bar {
  background-color: #10c1bc;
  /* Cambia este color según tus preferencias */
  color: #ffffff;
  border-radius: 1rem;
}

/*prueba*/

.col-6-1 {
  width: 50%;
}

.form-label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.parrafo {
  color: #ffffff;
}

.fuente {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #ff4400;
  text-transform: uppercase;

}

.fuente-form {
  color: #ffffff;
}

.small.font-weight-bold {
  /*pequeña de actividades dash col*/
  color: #000000;
}

.small.font-weight-bold-1 {
  color: #ffffff;
}

.h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.2;
}

.h1-cursos{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  line-height: 1.2;
  text-align: center;
}

.h1-plan-carrera{
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  line-height: 1.2;
  text-align: center;
}

.h1-actividades {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  line-height: 1.2;
  text-align: left;
}

.h1-premios{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  line-height: 1.2;
  text-align: center;
}

.h1-proyectos{  
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  line-height: 1.2;
  text-align: left;
  text-decoration-line: underline;
}

.h1-tecnologias-proyectos {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  line-height: 1.2;
  text-align: left;
}

.h1-titulos {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
}

.h1-titulos-valor{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-decoration-line: underline;
}

.h1-titulos-proyectos{
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-decoration-line: underline;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
}

.role-selector {
  color: #000000;
}

/* Para el elemento "Sign in to continue" */
.sign-in-text {
  color: #000000;
  /* Cambia este color al que desees */

}

/* Para el elemento "Welcome!" */
.welcome-text {
  color: #ffffff;


  /* Cambia este color al que desees */
  font-weight: bold;
}

.resume-text,
.recomendaciones-text,
.plancarrera-text {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
}

.text-area{
  color: #000000;
}-task

.campos-obligatorios {
  color: #ffffff;
  /* Cambia este color al que desees */
  font-family: sans-serif;
  font-style: italic;
}


/*ESTILOS TASK*/

/* ESTILOS TASK */
.card-task {
  border: 5px solid rgba(255, 255, 255, 0.125);
  border-radius: 1rem;
  background-clip: border-box;
  background-color: #1e293a;
}

.title-task {
  margin: 0;
  color: #f28d27;
  font-weight: 300;
  margin-bottom: 10px;
}

.header-task {
  padding: 15px 30px 0px;
  font-weight: 600;
  font-size: 22px;
}

.header-task h1,
.header-task h2,
.header-task h3,
.header-task h4,
.header-task h5,
.header-task h6 {
  margin: 15px 0;
  color: #f28d27;
  letter-spacing: 1px;
  line-height: 17px;
  font-weight: 300;
}

.valor{
  margin: 15px 0;
  color: #f28d27;
  letter-spacing: 0px;
  line-height: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  
}

.header-task p {
  color: #000000;
  font-size: 12px;
  line-height: 17px;
  font-weight: 300;
}

.content-task {
  padding: 10px 30px 20px 30px;
  
}

.footer-task {
  padding: 0 30px 5px;
  background-color: transparent;
  line-height: 30px;
}

.footer-task hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #f28d27;
}

.form-group-task label,
fieldset label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.form-group-task label.control-label {
  color: #25265F;
  text-transform: uppercase;
}

.form-group-task label.error-task {
  text-transform: none;
  color: #FB404B;
  margin-top: 5px;
}

.todo-item-task {
  background-color: #ffffff;
  color: #000000;
  border-radius: 1rem;
  margin-bottom: 10px;
  padding: 10px;
}

.todo-item-wrapper {
  display: flex;
  align-items: center;
}

.checkbox {
  color: #ff0000;
  margin-right: 10px;
}

.checkbox .icons .first-icon,
.checkbox .icons .second-icon {
  width: 17px;
}

.todo-content-task {
  flex: 1;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.todo-item-wrapper a {
  color: #ffffff;
  cursor: pointer;
}


.tituloR{
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}

.AP0{
  font-size: 20px;
  font-weight: 500;
}

.InterfazSecundaria{
  width: 400px;
  
  border-radius: 15px;
  height: 300px;
  border: 1px solid #0f0f0f;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  
}

.InterfazRoadMap{
  margin-top: 400px;
  
  position: relative;
  flex-wrap: nowrap;
  border-radius: 15px;
  border: 1px solid #0f0f0f;
  padding: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #1e293a;
}

.DetallesRecompensa {
  margin-bottom: 20px;
}

.DetallesRecompensa h2 {
  font-size: 20px;
  color: #ce6e0f;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ObtenerInterfaz h1 {
  font-weight: 700;
}

.DetallesRecompensa p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #3a3939;
}

.btnAceptar,
.btnCancelar {
  background-color: #0b837f; /* Color verde para Aceptar y rojo para Cancelar (puedes cambiarlo según tu paleta de colores) */
  color: #fcf9f9;
  padding: 5px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}
